*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background-color: rgb(255, 255, 255);
}

h2{
    text-align: center;
    
    font-weight: 900;
    font-family: sans-serif;
        
    
}

.navbar{
    background-color: #d9bfd9;

    
}

.container-fluid{
    display: flex;
    justify-content: space-between;
    
}

.container-fluid .logo, h3{
    font-size: 1em;
    color: rgb(255, 255, 255);
    text-align: center;
}



.container-fluid img{
    width: 10vw;
    height: 10vh;
    
}

.navbar-toggler {
    
    padding: 0.25rem 0.75rem;
    font-size: 0.8rem;
    line-height: 0.9;
    background-color: transparent;
    border: 1px solid #eff0ed ;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
    
}
button h3{
    text-align: center;
    color: #0c0c0c;
}
span{
    text-align: left;
    color:#eeefe7;
    margin: 1%;
}
.navbar-nav{
    width: 35%;

}

.navbar-nav .nav-item{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 1em;
    font-family: 'Josefin Sans', sans-serif;
}


.collapse{
    justify-content:flex-end;
    margin-inline-end: 1%;
}
.container-fluid button{
    
    
}

header{
    background-color: orange ;
}

header img{
    width: 100%;
    height: 70vh;
    text-shadow: gray 1px 1px 15px;
}
.carousel-inner{
    box-shadow: black 1px 1px 8px;
    height: 70vh;
    
}
.carousel-inner img{
    height: 70vh;
}

.card{
    
    box-shadow: #e8ff1c 2px 2px 15px;
    margin-top: 3%;
    color: white;
}
.card-body{
    background-color: rgb(104, 101, 101);
}

footer{
    background-color: rgb(131, 235, 218);
    padding-top: 2%;
    box-shadow: black 1px 1px 12px;

}
.contacto-footer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    
    
}


footer  a, h6{
    text-decoration: none;
    color:  rgb(15, 15, 12);
    text-shadow: 0px 0px 15px rgb(128, 133, 63);


}
footer a:hover{
    color: gray;
}


.container-boton{
    background-color: #35a835fd;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 15px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
    box-shadow: 0px 0px 20px green ;
}
.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.fa-whatsapp{
    font-size: 3em;
    color: white;
}
.desarrollado{
    text-align: center;
    background-color: rgb(50, 80, 80);
}
.desarrollado a{
    color: white;
}

/***********************************
************************************
SERVICIOS
************************************
***********************************/
.title, .service-title
{
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
}
.item-img
{
    margin-bottom: 15px;
}
.sub-title
{
    font-size: 20px;
}
.bottom-line
{
    margin-top: 20px;
    margin-bottom: 40px;
    border: 0;
    border-top: 0px;
    height: 3px;
    width: 40px;
    background-color: #BE9E21;
}
.wrap-item h3 {
    font-size: 24px;
    line-height: 25px;
}
.pad-bt15 {
    padding-bottom: 15px;
}
.sec-sub-title
{
    padding-top: 30px;
}
.sec-sub-title {
    font-size: 16px;
    font-weight: bold;
    color: #002F2F;
    text-transform: uppercase;
    margin: 25px 0px;
    line-height: 1.7;
}
#service
{
    background-color: #F3F4F8;
}
ul.service-list li i
{
    color: #002F2F;
    padding-right: 10px;
}
.learn-more, .learn-more:hover, .learn-more:focus {
    height: 50px;
    width: 175px;
    background: #046380;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 45px;
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.visit-portfolio, .visit-portfolio:hover, .visit-portfolio:focus {
    height: 50px;
    width: 175px;
    display: inline-block;
    text-align: center;
    color: #495376;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #838aa1;
    margin-top: 45px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.bx-wrapper img {
    width: 70px;
    display: inline-block;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-bottom: 15px;
}
.service-item h3 span
{
    opacity: 0.7;
    font-size: 75px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -5px;
    font-weight: 900;
    padding-right: 6px;
}
.service-item h3
{
    font-weight: 700;
}
.service-item p
{
    opacity: 0.6;
    color: inherit;
    padding: 10px 0px;
}
.service-item a
{
    color: #be9e21;
}
.mr-btn-15
{
    margin-bottom: 15px;
}
.padding-right-zero
{
    padding-right: 0px !important;
}
.bx-wrapper {
    margin: 0 auto 35px;
}
.portfolio-item
{
    position:relative;
    overflow:hidden;
}
.portfolio-item figure
{
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
}
.portfolio-item figure img {
    display:block;
    position:relative;
    z-index:10;
    margin:-15px 0
}
.portfolio-item figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.portfolio-item figure h2 {
    font-family: 'Fira Sans', sans-serif;
    color:#fff;
    font-size:20px;
    text-align:left;
    padding-bottom:15px;
}
.portfolio-item figure p {
    display:block;
    line-height:18px;
    margin:0;
    color:#fff;
    text-align:left
}
.portfolio-item figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding: 59px 30px;
    background-color: #5dab40;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
    text-align: center;
}
.portfolio-item figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.portfolio-item figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.portfolio-item figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}
/***************************/
/*******320px a 575px*******/
/***************************/

@media (min-width: 320px) and (max-width: 575px){
    .navbar{
        background-color: #eac9e6;
    }
    
    
    .container-fluid{
        display: flex;
        justify-content: space-between;
        
    }
    
    .container-fluid .logo, h3{
        font-size: 1em;
        color: rgb(255, 255, 255);
        text-align: center;
    }
    
    
    
    .container-fluid img{
        width: 10vw;
        height: 10vh;
        
    }
    
    .navbar-toggler {
        
        padding: 0.25rem 0.75rem;
        font-size: 0.8rem;
        line-height: 0.9;
        background-color: transparent;
        border: 1px solid #e8ff1c ;
        border-radius: 0.25rem;
        transition: box-shadow .15s ease-in-out;
        
    }
    
    span{
        text-align: left;
        color:#e8ff1c;
        margin: 1%;
    }
    .navbar-nav{
        width: 35%;
    
    }
    .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #006B5E;
    }
    
    .navbar-nav .nav-item{
        color: rgb(255, 255, 255);
        font-weight: 900;
        font-size: 1em;
        font-family: 'Josefin Sans', sans-serif;
    }
    .carousel-inner{
        box-shadow: black 1px 1px 12px;
        height: 40vh;
    }
    .carousel-inner img{
        height: 40vh;
    }
    .card{
    
        box-shadow: #e8ff1c 0px 0px 12px;
        margin-top: 3%;
        color: white;
    }
    .card-body{
        background-color: rgb(104, 101, 101);
    }
    
    footer{
        background-color: #C4FCF0;
        padding-top: 2%;
        box-shadow: #006B5E 1px 1px 12px;
    }
    .contacto-footer{
        display: flex;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        
        
    }
    
    
    footer  a, h6{
        text-decoration: none;
        color:  orange;
        text-shadow: 0px 0px 15px rgb(128, 133, 63);
    
    
    }
    footer a:hover{
        color: gray;
    }
    
    
    .container-boton{
        background-color: #35a835fd;
        position: fixed;
        z-index: 999;
        border-radius: 50%;
        bottom: 20px;
        right: 25px;
        padding: 15px;
        transition: ease 0.3s;
        animation: efecto 1.2s infinite;
        box-shadow: 0px 0px 20px green ;
    }
    .container-boton:hover{
        transform: scale(1.1);
        transition: 0.3s;
    }
    .fa-whatsapp{
        font-size: 3em;
        color: white;
    }
    .desarrollado{
        text-align: center;
        background-color: rgb(50, 80, 80);
    }
    .desarrollado a{
        color: white;
    }
    

}
@media (min-width: 576px) and (max-width: 767px){
    
    .container-fluid img{
        width: 40vw;
        height: 15vh;
        
    }
    .carousel-inner{
        box-shadow: black 1px 1px 12px;
        height: 40vh;
    }
    .carousel-inner img{
        height: 40vh;
    }

}

@media (min-width: 768px) and (max-width: 991px){
    
    .container-fluid img{
        width: 40vw;
        height: 15vh;
        
    }
    .carousel-inner{
        box-shadow: black 1px 1px 12px;
        height: 40vh;
    }
    .carousel-inner img{
        height: 40vh;
    }

}
@media (min-width: 992px) {
    
    .container-fluid img{
        width: 40vw;
        height: 15vh;
        
    }
    .carousel-inner{
        box-shadow: black 1px 1px 12px;
        height: 40vh;
    }
    .carousel-inner img{
        height: 40vh;
    }

}
@media (min-width: 1024px) {
    
    .container-fluid img{
        width: 40vw;
        height: 15vh;
        
    }
    .carousel-inner{
        box-shadow: black 1px 1px 12px;
        height: 40vh;
    }
    .carousel-inner img{
        height: 40vh;
    }

}
/****************************
+++++++++++++++++++++++++++++
---------- 1200px -----------
+++++++++++++++++++++++++++++
****************************/
@media (min-width: 1200px) {
    
    .navbar{
        background-color: #f5c0de;
        
        
    }
    
    .container-fluid{
        display: flex;
        justify-content: space-between;
       background-color: transparent;
        
    }
    
    .container-fluid .logo, h3{
        font-size: 1em;
        color: rgb(255, 255, 255);
        text-align: center;
    }
    
    
    
    .container-fluid img{
        width: 10vw;
        height: 10vh;
        
    }
    
    .navbar-toggler {
        
        padding: 0.25rem 0.75rem;
        font-size: 0.8rem;
        line-height: 0.9;
        background-color: transparent;
        border: 1px solid #e8ff1c ;
        border-radius: 0.25rem;
        transition: box-shadow .15s ease-in-out;
        
    }
    button h3{
        text-align: center;
        color: #e8ff1c;
    }
    span{
        text-align: left;
        color:#e8ff1c;
        margin: 1%;
    }
    .navbar-nav{
        width: 40%;
    
    }
    
    .navbar-nav .nav-item{
        color: #e8ff1c;
        font-weight: 900;
        font-size: 1em;
        font-family: 'Josefin Sans', sans-serif;
    }
    
    .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #006B5E;
    }

    .collapse{
        justify-content:flex-end;
        margin-inline-end: 1%;
    }
    
    
    header{
        background-color: orange ;
    }
    
    header img{
        width: 100%;
        height: 70vh;
        text-shadow: gray 1px 1px 15px;
    }
    .carousel-inner{
        box-shadow: #006B5E 1px 1px 8px;
        height: 70vh;
        
        
    }
    .carousel-inner img{
        height: 70vh;
    }
    
    .card{
        
        box-shadow: #006B5E 2px 2px 15px;
        margin-top: 3%;
        color: white;
    }
    .card-body{
        background-color: #006B5E;
    }
    
    footer{
        background-color: #C4FCF0;
        padding-top: 2%;
        box-shadow: #006B5E 1px 1px 12px;
    }

    

    .contacto-footer{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        
        
    }
    
    
    footer  a, h6{
        text-decoration: none;
        color:  orange;
        text-shadow: 0px 0px 15px rgb(128, 133, 63);
    
    
    }
    footer a:hover{
        color: gray;
    }
    
    
    .container-boton{
        background-color: #35a835fd;
        position: fixed;
        z-index: 999;
        border-radius: 50%;
        bottom: 20px;
        right: 25px;
        padding: 15px;
        transition: ease 0.3s;
        animation: efecto 1.2s infinite;
        box-shadow: 0px 0px 20px green ;
    }
    .container-boton:hover{
        transform: scale(1.1);
        transition: 0.3s;
    }
    .fa-whatsapp{
        font-size: 3em;
        color: white;
    }
    .desarrollado{
        text-align: center;
        background-color: rgb(50, 80, 80);
    }
    .desarrollado a{
        color: white;
    }

}
